.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.center {
    text-align: center;
    align-items: center;
}

.fs20 {
    font-size: 20px;
} 

.f1 {
    flex: 1;
}
.f2 {
    flex: 2;
}
.f3 {
    flex: 3;
}

.m1 {
    margin-top: 1px;
    margin-bottom: 1px;
}
.m3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.m6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fs16 {
    font-size: 18px;
}

.gold {
    background-color: gold;
}

.green {
    background-color: #61c466;
}

.yellow {
    background-color: #f9e7a2;
}

.w100 {
    width: 100%;
}

.fade {
    filter: opacity(0.1);
}

.narrow {
    position: relative;
    width: min(100vmin, 400px);
    left: 50%;
    transform: translate(-50%, 0%);
}

.wide {
    position: relative;
    width: min(100vmin, 800px);
    left: 50%;
    transform: translate(-50%, 0%);
}

.brdr {
    border: 1px solid black;
}

.items-right {
    position: relative;
    margin-left: auto;
    margin-right: 0;
}

.items-left {
    position: relative;
    margin-left: 0;
    margin-right: auto;
}

.items-bottom {
    position: relative;
    margin-bottom: 0;
    margin-top: auto;
}

.txt-left {
    text-align: left;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(100%,400px);
    left: 50%;
    transform: translate(-50%, 0%);
}

textarea {
    width : min(100%, 400px);
    height : 100px;
    margin : 3px;
    resize: none
}

input[type=text],input[type=number] {
    position: relative;
    width : 50%;
    margin : 4px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.q-btn-img {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 52px;
    margin: 1px;
    z-index: 50;
}

.rihost-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
}

.txt-img-box {
    position: relative;
    height: 52px;
    width: 52px;
    text-align: center;
}

.txt-img-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52px;
}

.txt-img-txt {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 26px;
}

.txt-img-img-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 104px;
}

.txt-img-txt-2 {
    position: relative;
    top: 26px;
    bottom: 0;
    z-index: 100;
    font-size: 20px;
}
