.hm-box {
    position: relative;
    width: min(100%, 400px);
    left: 50%;
    transform: translate(-50%, 0%);
}

.q-list {
    display: flex;
    flex-direction: column;
}

.q-holder {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.q-question {
    display: flex;
    flex-direction: row;
}
.q-ans {
    display: flex;
    flex-direction: row;
}
.q-edit {
    display: flex;
    flex-direction: row;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(100%,400px);
    left: 50%;
    transform: translate(-50%, 0%);
}

.q-info-holder {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

textarea {
    width : min(100%, 400px);
    height : 100px;
    margin : 1px;
    resize: none
}

input[type=text],input[type=number] {
    position: relative;
    width : min(100%, 200px);
    margin : 1px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.list-btn-holder {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

.q-btn-img {
    width: 40px;
    margin: 1px;
}
